@model IEnumerable<Library.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>All Available Books</h2>

<div class="baton my-lg-4">
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-default " })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableCopies)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableCopies)
            </td>
            <td>
                <div class="baton edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }, new { @class = "btn btn-default " })
                </div>
                <div class="baton details">
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }, new { @class = "btn btn-default " })
                </div>
                <div class="baton delete">
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId }, new { @class = "btn btn-default " })
                </div>
            </td>
        </tr>
    }

</table>
